{% extends 'enchere/base.html' %}

{% block content %}
<section class="hero">
    <div class="hero-overlay"></div>

    <nav class="navbar">
        <h1 class="logo">RoyalBid</h1>
        <div class="nav-links">
            <a href="{% url 'login' %}">Connexion</a>
            <a href="{% url 'signup' %}" class="btn-glow">Inscription</a>
        </div>
    </nav>

    <div class="hero-content">
        <h2><span>ENTREZ DANS</span><br>LE MONDE DES ENCHÈRES</h2>
        <p>Une expérience premium pour vendre et remporter des objets rares.</p>
        <a href="{% url 'signup' %}" class="cta">Commencer</a>
    </div>
</section>


{% endblock %}
