{% extends 'enchere/base.html' %}
{% load static %}

{% block content %}
<header class="hero">
    <nav class="navbar">
        <h1 class="logo">RoyalBid</h1>
        <div class="nav-links">
            <a href="{% url 'login' %}">Connexion</a>
            <a href="{% url 'signup' %}" class="btn">S'inscrire</a>
        </div>
    </nav>

    <div class="hero-content">
        <h2>Tout se joue aux enchères</h2>
        <p>Découvrez, enchérissez et remportez des objets uniques en toute confiance.</p>
        <a href="{% url 'signup' %}" class="hero-btn">Commencer maintenant</a>
    </div>
</header>
{% endblock %}
