{% extends 'enchere/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'enchere/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="auth-box">
        <h2>Connexion</h2>
        <p>Accédez à votre espace d’enchères</p>

        <form method="post">
            {% csrf_token %}
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>

        <a href="{% url 'signup' %}">Créer un compte</a>
    </div>
</div>
{% endblock %}
