* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(120deg, #0f0f1a, #12122b);
    color: white;
    min-height: 100vh;
}

/* CONTENEUR GLOBAL */
.auth-container {
    display: flex;
    height: 100vh;
}

/* FORMULAIRE */
.auth-box {
    width: 40%;
    background: rgba(20, 20, 40, 0.95);
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.15);
}

.auth-box h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.auth-box p {
    opacity: 0.7;
    margin-bottom: 30px;
}

.auth-box input {
    background: transparent;
    border: 1px solid rgba(0, 255, 255, 0.3);
    padding: 15px;
    margin-bottom: 20px;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}

.auth-box input:focus {
    outline: none;
    border-color: cyan;
}

.auth-box button {
    background: cyan;
    color: black;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-box button:hover {
    background: white;
}

/* IMAGE */
.auth-image {
    width: 60%;
    background: black;
    position: relative;
}

.auth-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
}

/* LIENS */
.auth-box a {
    color: cyan;
    text-decoration: none;
    margin-top: 15px;
}
